#verbs-container{
    margin: 0 35%;
  }
  
  .verbs-answer{
    display: block;
  }
  
  #next{
    margin-top: 10rem;
    cursor: pointer;
    color: green;
  }
  
  .rightAnswer, .rightAnswer:hover{
    background-color: #6ab04c;
    border-color: #6ab04c;
    color: #ffffff;
  }
  
  .wrongAnswer, .wrongAnswer:hover{
    background-color: #B33030;
    border-color: #B33030;
    color: #ffffff;
  }